<h2>List of ratings</h2>

<td>Number of ratings <%=@ratings.size%></td>

<ul>
  <% @ratings.each do |rating| %>
      <li> <%= rating %> <%= link_to 'delete', rating_path(rating.id), method: :delete,data: {confirm:'Are you sure?'} %> </li>
  <% end %>
</ul>

<rb>
<%= link_to 'New rating',new_rating_path%>
</rb>